* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    color: #333;
}

.dashboard-container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    width: 250px;
    height: 100%;
}

.sidebar h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 40px;
}

.sidebar ul {
    list-style-type: none;
}



.sidebar ul li a:hover {
    background-color: #333;
    padding-left: 10px;
}

.main-content {
    flex-grow: 1;
    padding: 30px;
    background-color: #ffffff;
}

.welcome {
    text-align: center;
    margin-bottom: 40px;
}

.welcome h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.welcome p {
    font-size: 18px;
    color: #666;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s ease;
}
.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card h3 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #333;
}

.card p {
    font-size: 16px;
    color: #777;
    margin-bottom: 20px;
}

.card a {
    text-decoration: none;
    color: #4CAF50;
    font-weight: 500;
    transition: color 0.3s ease;
}

.card a:hover {
    color: #333;
}

.footer{
    position: fixed;
    bottom: 0;
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
}
